{% extends 'base.html.twig' %} {% block title %}Hello HomeController! {%
endblock %} {% block body %} {#
<div class="d-flex flex-wrap w-75 m-auto justify-content-center">
  {% for article in articles %}
  <div class="card ms-3" style="width: 18rem">
    <img src="{{ article.image }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p>{{ article.content }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  {% endfor %}
</div>
#}

<div class="d-flex justify-content-center justify-content-around">
  <div class="row justify-content-center mt-4">
    {% for article in articles %}
    <div class="card col-md-4" style="width: 18rem">
      <p class="date">{{ article.createdAt | date("d/m/y")}}</p>
      <img
        src="{{asset ('/img/article/'~ article.image) }}"
        class="card-img-top"
        alt="{{ article.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <a href="{{ path('show', { id: article.id }) }}" class="btn btn-primary"
          >En Savoir plus</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

     <div class="col-md-4 mt-4">
          <h2>Catégories</h2>
          <ul class="list-group">
              {% for categorie in categories %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="{{path('show_articles_category', {'id': categorie.id})}}">{{ categorie.title }}
                          <span class="badge bg-primary rounded-pill">{{ categorie.articles | length }} article(s)</span>
                      </a>
                  </li>
              {% endfor %}
          </ul>
      </div>
    </div>
</div>

{% endblock %}
